<?xml version="1.0" encoding="UTF-8"?>  
<beans:beans xmlns="http://www.springframework.org/schema/security"  
    xmlns:beans="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
    http://www.springframework.org/schema/security  
    http://www.springframework.org/schema/security/spring-security-3.1.xsd">  
    
     <global-method-security pre-post-annotations="enabled" />
     <http pattern="/static/**" security="none"/>
     <http pattern="/js/**" security="none"/>
     <http pattern="/images/**" security="none"/>
     <http pattern="/styles/**" security="none"/>
     <http pattern="/anonymous/**" security="none"/>  
     
     <http use-expressions="true" auto-config="true" pattern="/admin/**">

  		<intercept-url pattern="/admin/**" access="hasRole('ROLE_LOGIN_USER')"/>
  		
        <form-login login-page="/login.jsp"  
            authentication-failure-url="/login.jsp?error=1"  
            default-target-url="/admin/main" login-processing-url="/admin/j_spring_security_check" always-use-default-target="true"/>  
            
        <logout logout-success-url="/login.jsp"/>
        
        <!-- 实现免登陆验证 -->  
        <session-management invalid-session-url="/anonymous/accessDenied/timeout">  
            <concurrency-control max-sessions="10" error-if-maximum-exceeded="true" />  
        </session-management>  
  		
  		<custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="loginFilter"  />
  		
  		
    </http>

       <beans:bean id="loginFilter" class="com.ibm.security.FilterSecurityInterceptor">
         <beans:property name="authenticationManager"
             ref="myauthenticationManager" />
         <beans:property name="accessDecisionManager"
             ref="myaccessDecisionManager" />
         <beans:property name="securityMetadataSource"
             ref="mysecurityMetadataSource" />
     </beans:bean>
  
  <authentication-manager alias="myauthenticationManager">
  		<authentication-provider user-service-ref="myUserDetailService">
  		</authentication-provider>
  </authentication-manager>
       <!-- 访问决策器，决定某个用户具有的角色，是否有足够的权限去访问某个资源-->
     <beans:bean id="myaccessDecisionManager" class="com.ibm.security.AccessDecisionManagerImpl">
     </beans:bean> 
     
     <!-- 资源源数据定义，即定义某一资源可以被哪些角色访问 -->
     <beans:bean id="mysecurityMetadataSource"
         class="com.ibm.security.FilterInvocationSecurityMetadataSourceImpl" >
         	<beans:constructor-arg ref="authorityService"></beans:constructor-arg>
         </beans:bean>
         
  <beans:bean id="myUserDetailService" class="com.ibm.service.user.UserService"></beans:bean>
</beans:beans> 
  