<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<!-- 这份文件只为生成表结构使用 -->
       <session-factory>
              <!-- Database connection 设置 -->
              <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
              <property name="connection.url">jdbc:mysql://localhost:3306/easyshopping</property>
              <property name="connection.username">root</property>
            <!-- 请根据实际配置修改 -->
              <property name="connection.password">root</property>
              <!-- JDBC connection pool (use the built-in) -->
              <property name="connection.pool_size">1</property>
              <!-- SQL 方言，这里使用mysql-->
              <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
              <!-- 显示hibernate执行时的sql语句-->
              <property name="show_sql">true</property>
              <!-- 自动建表-->
              <property name="hbm2ddl.auto">update</property>
              <!-- 映射使用了@Entity注解注释过的实体类-->
              <mapping class="com.ibm.domain.Authority" />
              <mapping class="com.ibm.domain.Log" />
              <mapping class="com.ibm.domain.Member" />
              <mapping class="com.ibm.domain.MemberAccount" />
              <mapping class="com.ibm.domain.Order"/>
              <mapping class="com.ibm.domain.Product"/>
              <mapping class="com.ibm.domain.ProductCategory"/>
              <mapping class="com.ibm.domain.Role"/>
              <mapping class="com.ibm.domain.User"/>
              <mapping class="com.ibm.domain.UserAccount"/>
       </session-factory>
</hibernate-configuration>